.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #e8e8e8;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav > *:not(:first-child) {
    margin-left: 8px;
}

.brand {
    color: #1baa56;
    font-weight: bold;
    font-size: 18px;
}

.user-name {
    color: #303030;
    font-size: 18px;
}

.main {
    padding-top: 32px;
}

#form > *:not(:last-child) {
    margin-bottom: 8px;
}

#form > button {
    width: 100%;
}

.media {
    align-items: center;
}

.media-action {
    display: flex;
    align-items: center;
    height: 100%;
}